.navbar-brand {
  width: 100px;
  height: 50px;
  background: var(--mainWhite);
  border-radius: 75px;
}
.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: uppercase;
}